doctype
html.no-js
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title CHANGE THIS TITLE
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel="stylesheet", href="/styles/font-awesome.min.css")
    link(rel="stylesheet", href="/styles/bootstrap.min.css")
    link(rel="stylesheet", href="/app.css")

    script(type="text/javascript", src="/scripts/q.js")
    script(type="text/javascript", src="/scripts/jquery.min.js")
    script(type="text/javascript", src="/scripts/json2.js")
    script(type="text/javascript", src="/scripts/underscore-min.js")
    script(type="text/javascript", src="/scripts/backbone-min.js")
    script(type="text/javascript", src="/scripts/backbone.marionette.js")
    script(type="text/javascript", src="/templates.js")
    script(type="text/javascript", src="/app.js")

  body
    <!--[if lt IE 8]>
    p.browsehappy
      | You are using an <strong>outdated</strong> browser.
      | Please <a href="http://browsehappy.com/">upgrade your browser</a>
      | to improve your experience.
    <![endif]-->

    div#content.container
